@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: 400px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
  }
  .lhead{
    font-size: 1.8rem;
  }
  .input-field {
    width: 80%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #9c9a9a;
    font-size: 18px;
  }
  .lbtn{
    padding: 9px;
    font-size: 18px;
    width: 28%;
    color: white;
    background-color: rgba(79, 79, 78, 0.886);
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .lbtn:hover{
    background-color: rgb(71, 71, 70);
  }
  .sign-up-link {
    color: rgb(49, 49, 220);
    cursor: pointer;
  }
  .field2{
    margin-bottom: 30px;
  }
  .check{
    font-size: 18px;
  }